<div class="container">
    <div class="box">
        <div class="img-holder">
            <img src="https://cdn.shopify.com/s/files/1/0557/6923/5628/files/Penny-Candy-logo-smaller_3613x.png?v=1621020479" alt="Our Company">
        </div>
        <div class="info">
            <h1>Ne Yapıyoruz ?</h1>
            <p>Ender bulunan harika şekerler,marshmallowlar ve pamuk şekerleri tüm dünyaya en hızlı şekilde kargolayarak gönderiyoruz.Sizlerde ürünlerimizi denemek ve tatlı bir deneyim yaşamak için web sitemize kayıt olup alışveriş yapabilirsiniz.</p>
            <ul>
                <li><a href="#" routerLink="/shop">Alışverişe Başla</a></li>
            </ul>
        </div>
    </div>
</div>