<div class="container">

	<h1>Alışveriş Sepetim</h1>
<div *ngIf="(allBasketProducts$|async|basketfilter:this.user.id).length">
	<div class="cart" >
		<div class="products">
			<div  *ngFor="let basketproducts of allBasketProducts$ |async |basketfilter:this.user.id">
			<div class="product">
				<img src="{{basketproducts.photoUrl}}">
				<div class="product-info">
					<h3 class="product-name">{{basketproducts.productname}}</h3>

					<h4 class="product-price" >{{basketproducts.price}} Türk Lirası </h4>	
					<p class="product-remove" (click)="deleteBasketItem(basketproducts.productid)">

						<i class="fa fa-trash" aria-hidden="true"></i>

						<span class="remove" >SİL</span>

					</p>
				</div>
			</div>
			</div>
		</div>

		<div class="cart-total">

			<p>

				<span>Toplam Tutar</span>

				<span>{{totalPrices}} TL</span>

			</p>
			<a (click)="Order()" routerLink="/ordersuccess">SATIN AL</a>

		</div>
	</div>
</div>	
		<div class="empty-cart" *ngIf="!(allBasketProducts$|async|basketfilter:this.user.id).length">
			<h3 >Sepette ürün yok.Mağazadan sepetinize ürün ekleyip alışverişe devam edebilirsiniz.</h3>
			<button routerLink="/shop">Mağazaya Git</button>
		</div>	
</div>