<div class="container">
    <div class="box">
        <div class="img-holder">
            <img src="../../../assets/ordersuccess.png" alt="Our Company">
        </div>
        <div class="info">
            <h1>Siparişiniz Alındı.</h1>
            <p>Alışveriş yaparken çok yorulup kararsız kaldığınızın farkındayız şuan sıra sırtınızı koltuğa yaslayıp çalıcak olan kargo zilini beklemek kaldı. Profilinizden alışverişinizin detaylarına ulaşabilirsiniz. .</p>
            <ul>
                <li><a href="#" routerLink="/profile">Alışverişlerime Git</a></li>
            </ul>
        </div>
    </div>
</div>