
        <div class="nav-wrapper">
            <div class="logo-container">
                <img class="logo" src="https://cdn.shopify.com/s/files/1/0557/6923/5628/files/Penny-Candy-logo-smaller_3613x.png?v=1621020479" alt="Logo">
            </div>
            <nav>
                <input class="hidden" type="checkbox" id="menuToggle">
                <label class="menu-btn" for="menuToggle">
                    <div class="menu"></div>
                    <div class="menu"></div>
                    <div class="menu"></div>
                </label>
                <div class="nav-container">
                    <ul class="nav-tabs">
                        <li class="nav-tab" routerLink="">Anasayfa</li>
                        <li class="nav-tab" routerLink="/shop">Mağaza</li>
                        <li class="nav-tab"routerLink="/cart">Sepet</li>
                        <li class="nav-tab" routerLink="/profile">Hesap</li>  
                    </ul>
                </div>
            </nav>
        </div>
