
<div class="container">
    <div class="container-wrapper">
            <h3 class="login-text"><i class="bi bi-person-circle ac-logo"></i>Şifremi Unuttum</h3>
        <form [formGroup]="forgotForm" (ngSubmit)="forgotPassword()">
            <div >
                <div class="item"><input class="input" type="text" placeholder="E-Mail" formControlName="email"></div> 
                <div class="item submit">
                    <button type="submit" style="border: 5px solid green" *ngIf="forgotForm.valid">Şifremi Hatırlat</button>
                    <button type="submit" style="border: 5px solid red" [disabled]="!forgotForm.valid" *ngIf="!forgotForm.valid">Şifremi Hatırlat</button>
                </div>
                
            </div>
        </form>
            <span class="ac">Bir hesaba sahipmisin? <a href="#" routerLink="/login">Giriş Yap</a></span>
    </div>
</div>
    
    
